footer {
  background-color: rgb(174, 134, 157);
  color: #fff;
  padding: 30px 0;
  position: static;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex-basis: 25%;
}
.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
